.content-width  {
  position: fixed;
  left: 15%;
  width: 65%;
  height: 100%;
  // margin-left: 15%;
  // margin-right: 30%;
  background: #fff;

  z-index: 20;

  .booking-list-container {
    width: 100%;
    margin: 0rem auto;
    font-size: 0.79em;

    .booking-header-container {
      margin: 0rem auto 0rem auto;
      // box-shadow: 0rem 0rem 0.2rem rgba(0, 0, 0, 0.2);
      padding: 1.5rem 0 0.4rem  0;
      background: $white;

      .header {
        color: $gray;
      }

      .col-table {
        .text-lead {
          padding-bottom: 1.5rem;
          font-weight: bold;
          font-size: 1.3em;
        }
      }
      .row_ {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .col-table-1 {
          width: 20%;
          font-weight: bold;
          letter-spacing: 0.04em;
          color: #000;
        }

        .col-table-2 {
          width: 20%;
        }

        .col-table-3 {
          width: 20%;
        }

        .col-table-4 {
          width: 15%;
        }

        .col-table-5 {
          width: 15%;
        }

        .col-table-6 {
          width: 15%;
        }
      }
    }

    .header-subtitle-container {
      margin: 0.1rem auto 0rem auto;
      padding: 1.4rem 0rem;
      background: $white;
      cursor: pointer;
      transition: all 0.3s ease;

      &:hover {
        background: $hover-bg;
        box-shadow: 0 2px 1.5px rgba(0, 0, 0, 0.034);
        transition: all 0.3s ease;
        padding: 1.4rem 0.5rem;
        border-radius: 0.55rem;
      }

      .row_ {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .col-table-1 {
          width: 20%;
          font-weight: bold;
          letter-spacing: 0.04em;
          color: #000;
        }

        .col-table-2 {
          width: 20%;
        }

        .col-table-3 {
          width: 20%;
        }

        .col-table-4 {
          width: 15%;
        }

        .col-table-5 {
          width: 15%;
        }

        .col-table-6 {
          width: 15%;
        }
      }
    }
  }
}
