.booking-form {
  width: 88%;
  margin: 0rem auto;
}

.booking-list-container {
  width: 88%;
  margin: 0rem auto;
  font-size: 0.79em;

  .booking-header-container {
    margin: 0rem auto 0rem auto;
    // box-shadow: 0rem 0rem 0.2rem rgba(0, 0, 0, 0.2);
    padding: 1.5rem 0rem;
    background: $white;

    .header {
      color: $gray;
    }

    .col-table {
      .text-lead {
        padding-bottom: 1.5rem;
        font-weight: bold;
        font-size: 1.3em;
      }
    }
    .row_ {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .col-table-1 {
        width: 7%;
        color: $primary;

        span {
          margin-left: 0.5rem;
        }
      }

      .col-table-2 {
        width: 20%;
      }

      .col-table-3 {
        width: 20%;
      }

      .col-table-4 {
        width: 20%;
      }

      .col-table-5 {
        width: 12%;
      }

      .col-table-6 {
        width: 12%;
      }

      .col-table-7 {
        width: 12%;
      }
    }
  }

  .header-subtitle-container {
    margin: 0.1rem auto 0rem auto;
    padding: 1.4rem 0rem;
    background: $white;
    cursor: pointer;

    &:hover {
      background: $hover-bg;
      box-shadow: 0 2px 1.5px rgba(0, 0, 0, 0.034);
      transition: all 0.3s ease;
    }

    .row_ {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .col-table-1 {
        width: 7%;
        color: $primary;

        span {
          margin-left: 0.5rem;
        }
      }

      .col-table-2 {
        width: 20%;
      }

      .col-table-3 {
        width: 20%;
      }

      .col-table-4 {
        width: 20%;
      }

      .col-table-5 {
        width: 12%;
      }

      .col-table-6 {
        width: 12%;
      }

      .col-table-7 {
        width: 12%;
      }
    }
  }
}

.fc {
  color: $gray;
}
