/* Description: Master CSS file */

/*****************************************
Table Of Contents:
- Css Reset
- Colors
- General Styles
- Side Navbar
- Dashboard Content
- Right Side Navbar
- Booking List style
- Media Queries
******************************************/

/*****************************************

******************************************/

/**************************/
/*     Css Reset     */
/**************************/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;

  font-family: "DmSans";
  list-style: none;

  a {
    text-decoration: none;
    color: #000;

    &:hover {
      color: #000;
    }
  }
}

/**********************/
/*     Colors     */
/**********************/
@import "colors";

@font-face {
  font-family: "Dmsans";

  src: url("/assets/fonts/DMSans-Regular.ttf") format("truetype");
}

/**********************/
/*   General Styles   */
/**********************/

@import "mixins";
@import "login_register";

.btn-o-p {
  background: #fff;
  opacity: 0.92;
  border: 0.1rem solid $nav-hover;
  color: $nav-hover;
  font-size: 0.9em;

  &:hover {
    background: $nav-hover;
    border: 0.1rem solid $nav-hover;
    opacity: 1;
  }
}

.icon {
  font-size: 1.5em;
  color: $red;
  background: $hover-bg;
  padding: 0.5rem;
  border-radius: 0.4rem;
}

.icon-income {
  font-size: 1.5em;
  color: $green;
  background: $hover-bg;
  padding: 0.5rem;
  border-radius: 0.4rem;
}

.icon-users {
  font-size: 1.5em;
  color: $nav-hover;
  background: $hover-bg;
  padding: 0.5rem;
  border-radius: 0.4rem;
}

.divider {
  height: 0.05rem;
  margin: 0rem auto;
  background: $divider-bg;
  margin: 0.4rem 0rem;
}

.navbar_menu {
  display: none;
}

.date {
  display: block;
}

.avatar-image {
  display: none;
}

/* Dropdown Menu */

/* Dropdown Menu */
.dropdown-menu {
  animation: fadeDropdown 0.2s; /* required for the fade animation */
  cursor: pointer;
}

@keyframes fadeDropdown {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.dropdown-menu {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  border: none;
  background-color: #fff;
}

.dropdown-item {
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  color: #5e6576;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 0.875rem;
  text-decoration: none;

  i {
    font-size: 1.3em;
    margin-left: 0.4rem;
  }
}

.dropdown-item:hover {
  background-color: #fcfafb;
  color: $nav-hover;
}

.dropdown-divider {
  width: 100%;
  height: 1px;
  margin: 0.5rem auto 0.5rem auto;
  border: none;
  background-color: #d1d1d1;
}
/* end of dropdown menu */

.cta {
  position: relative;
  margin: auto;
  padding: 12px 18px;
  transition: all 0.2s ease;
  border: none;
  background: none;
}

.cta:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 50px;
  background: #b1dae7;
  width: 45px;
  height: 40px;
  transition: all 0.3s ease;
}

.cta span {
  position: relative;

  font-weight: 700;
  letter-spacing: 0.05em;
  color: #234567;
}

.cta svg {
  position: relative;
  top: 0;
  margin-left: 10px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #234567;
  stroke-width: 2;
  transform: translateX(-5px);
  transition: all 0.3s ease;
}

.cta:hover:before {
  width: 100%;
  background: #b1dae7;
}

.cta:hover svg {
  transform: translateX(0);
}

.cta:active {
  transform: scale(0.95);
}

.button {
  display: inline-block;
  padding: 12px 24px;
  border: 1px solid #4f4f4f;
  border-radius: 4px;
  transition: all 0.2s ease-in;
  position: relative;
  overflow: hidden;
  font-size: 19px;
  color: black;
  z-index: 1;
}

.button:before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scaleY(1) scaleX(1.25);
  top: 100%;
  width: 140%;
  height: 180%;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.button:after {
  content: "";
  position: absolute;
  left: 55%;
  transform: translateX(-50%) scaleY(1) scaleX(1.45);
  top: 180%;
  width: 160%;
  height: 190%;
  background-color: #39bda7;
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.button:hover {
  color: #ffffff;
  border: 1px solid #39bda7;
}

.button:hover:before {
  top: -35%;
  background-color: #39bda7;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.button:hover:after {
  top: -45%;
  background-color: #39bda7;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

/**********************/
/*     Side Navbar    */
/**********************/
.left_hand_side {
  width: 15%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  // background: $divider-bg;

  #back_btn {
    display: none;
  }

  // .display-icon {
  //   display: block;
  // }

  ul {
    li {
      margin: 2rem 0;
      position: relative;
      z-index: 1;
      &:hover {
        span {
          position: absolute;
          background: $nav-hover;
          width: 0.25rem;
          height: 100%;
          bottom: 0;
          right: 0;
          z-index: -1;
          transition: all 0.5s ease;
        }
      }

      a {
        padding: 0.45rem 1rem;
      }
    }
  }
}

/**********************/
/*  Dashboard Content */
/**********************/

.dashboard-content {
  position: fixed;
  left: 15%;
  width: 65%;
  height: 100%;
  // margin-left: 15%;
  // margin-right: 30%;
  background: #f9f9f9;
  z-index: 20;

  .welcome-bg {
    background: $divider-bg;
    border-radius: 0.5rem;

    p:nth-child(1) {
      color: red;
    }
  }

  .company-assets {
    border-radius: 0.5rem;
  }

  .card {
    border-radius: 0.5rem;
  }
}

/**********************/
/*  Right Side Navbar */
/**********************/
.right_hand_side {
  width: 20%;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;

  .avatar {
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    position: relative;
  }

  p:nth-child(2) {
    transform: translateY(-0.8rem);
  }

  .container_ {
    height: 15rem;
    // overflow-x: hidden;
    // overflow-y: auto;
    overflow: hidden;

    .remainder-notifications {
      i {
        font-size: 1.1em;
        cursor: pointer;
        background: #f9f9f9;
        color: red;
        padding: 0.6rem;
        border-radius: 0.3rem;
      }
      span {
        display: block;
        color: $gray;
      }
    }
  }
}

/**********************/
/*   Content Width    */
/**********************/
@import "adapted-table";

/**********************/
/* Booking List style */
/**********************/
@import "bookings-table";

/**********************/
/* Mediaqueries */
/**********************/
@import "lg";
@import "sm";
@import "md";
